<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <img src="https://porlock-garage-admin.timbacct.repl.co/static/GarageBanner.png" alt="Central Garage Banner">
    <table>
      <tr>
        <th>Search Criteria</th>
        <th>Invoice List</th>
      </tr>
      <tr>
        <td>
    
          <form action="/action_page.php">
            <br>
            <label for="customername">Customer Name</label><br>
            <input type="text" id="customername" name="customername"><br>
            <label for="registrationnumber">Registration Number</label><br>
            <input type="text" id="registrationnumber" name="registrationnumber"><br>
            <label for="datein">Date in</label><br>
            <input type="text" id="datein" name="datein"><br>
            <label for="makemodel">Make/model</label><br>
            <input type="text" id="makemodel" name="makemodel"><br>
            <label for="phonenumber">Phone number</label><br>
            <input type="text" id="phonenumber" name="phonenumber"><br>
      
            <input type="radio" id="all" name="period" value="all">
            <label for="all">All</label>
            <button type="button">+</button>
            <button type="button">-</button><br>
            <input type="radio" id="today" name="period" value="today">
            <label for="today">Today</label>
            <button type="button">+</button>
            <button type="button">-</button><br>
            <input type="radio" id="thisweek" name="period" value="thisweek">
            <label for="thisweek">This Week</label>
            <button type="button">+</button>
            <button type="button">-</button><br>
            <input type="radio" id="thismonth" name="period" value="thismonth">
            <label for="thismonth">This Month</label>
            <button type="button">+</button>
            <button type="button">-</button><br>
            <input type="radio" id="thisyear" name="period" value="thisyear">
            <label for="thisyear">This Year</label><br><br>
            <div style="width: 200px; border: 1px outset black; background-color: transparent; text-align: centre">
              <label for="datetype">Date type</label>
              
              <input type="radio" id="In" name="datetype" value="in">
              <label for="In">In</label>
              <input type="radio" id="Paid" name="datetype" value="paid">
              <label for="Paid">Paid</label><br><br>
              
              <input type="checkbox" id="estimates" name="Estimates" value="estimates">
              <label for="estimates"> Estimates</label>
              <input type="checkbox" id="invoices" name="invoices" value="invoices">
              <label for="invoices"> Invoices</label><br><br>
            <label for="start">Start</label><br>
            <input type="text" id="start" name="start"><br>
            <label for="end">End</label><br>
            <input type="text" id="end" name="end"><br>
            </div>
            <br>
            <input type="submit" value="Display Data">
            <input type="submit" value="Clear Filters">
          </form>
        </td>
        <td>
          <table>
            <tr>
              <th>Customer Name</th>
              <th>Invoice Number</th>
              <th>Phone Number</th>
              <th>Date In</th>
              <th>Date Paid</th>
              <th>Make/Model</th>
              <th>Reg No</th>
              <th>Mileage</th>
              <th>Summary Price</th>
              <th>Summary Total</th>
              <th>ID</th>
              <th>Path Name</th>
              <th>File Name</th>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>