<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Central Garage System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      th {
         style="white-space:nowrap";
      }
      #banner {
        height: 180px;
        width: 100%;
        object-fit: cover;
      }
      body {
      	width: 2000px;
      	margin: auto;
            }
      button {
        class="btn btn-outline-success";
      }
      
      @media print {
        
        .noprint { display:none; }
        
        @page {size: A4 landscape; }

        transform: scale(1.2)
      }
      
      
    </style>

  </head>
  <body>
    <!-- script type="text/javascript"  src="home.js"></script-->
    <script type="text/javascript">
      function clearFilters(){
        document.getElementById("customername").value = "";
        document.getElementById("registrationnumber").value = "";
        document.getElementById("datein").value = "";
        document.getElementById("makemodel").value = "";
        document.getElementById("phonenumber").value = "";
        document.getElementById("period").value = "all";
        document.getElementById("estimates").value = "";
        document.getElementById("invoices").value = "invoices";
        
      }
      function showAlert(alertText){
        alert(alertText);
      }

      function toggleDateType(){
        var elem = document.getElementById("datetype");
        var elemval = document.getElementById("datetypevalue");
       
        if (elem.value=="In") {
          elem.value="Paid";
          elemval.value="Paid";
        } else {
          elem.value="In";
          elemval.value="In";
        }
        
      }
      
      window.onload = function() {
        var all = document.getElementById('all');
        var today = document.getElementById('today');
        var thisweek = document.getElementById('thisweek');
        var thismonth = document.getElementById('thismonth');
        var thisyear = document.getElementById('thisyear');
      
        all.onclick = allhandler;
        today.onclick = todayhandler;
        thisweek.onclick = thisweekhandler;
        thismonth.onclick = thismonthhandler;
        thisyear.onclick = thisyearhandler;

        dayearlier.addEventListener("click", () => { newdate("day", "minus") });
        daylater.addEventListener("click", () => { newdate("day", "plus") });
        weekearlier.addEventListener("click", () => { newdate("week", "minus") });
        weeklater.addEventListener("click", () => { newdate("week", "plus") });
        monthearlier.addEventListener("click", () => { newdate("month", "minus") });
        monthlater.addEventListener("click", () => { newdate("month", "plus") });
        yearearlier.addEventListener("click", () => { newdate("year", "minus") });
        yearlater.addEventListener("click", () => { newdate("year", "plus") });
        //alert("got here");
        //sumTableExVAT();
        //sumTableIncVAT();
      }

      function allhandler() {
        document.getElementById("start").value = "";
        document.getElementById("end").value = "";
        //alert('clicked');
      }
      
      function todayhandler() {
        const date = new Date().toLocaleDateString();
        let currentDate = '${day}-${month}-${year}';
        document.getElementById("start").value = date;
        document.getElementById("end").value = date;
        //alert('clicked');
      }

      function thisweekhandler() {
        const today = new Date();
        const firstDay = new Date(today.setDate(today.getDate() - today.getDay()));
        const lastDay = new Date(today.setDate(today.getDate() - today.getDay() + 6));
        document.getElementById("start").value = firstDay.toLocaleDateString();
        document.getElementById("end").value = lastDay.toLocaleDateString();
        //alert('clicked');
      }

      function thismonthhandler() {
        const now = new Date();
        const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
        const lastDay = new Date(now.getFullYear(), now.getMonth() + 1, 0);
        document.getElementById("start").value = firstDay.toLocaleDateString();
        document.getElementById("end").value = lastDay.toLocaleDateString();
        //alert('clicked');
      }

      function thisyearhandler() {
        const currentYear = new Date().getFullYear();
        const firstDay = new Date(currentYear, 0, 1);
        const lastDay = new Date(currentYear, 11, 31);
        document.getElementById("start").value = firstDay.toLocaleDateString();
        document.getElementById("end").value = lastDay.toLocaleDateString();
        //alert('clicked');
      }

      function isoDate(datestr) {
        //alert(datestr);
        dateisostr = datestr.substring(6) + "-" + datestr.substring(3,5) + "-" + datestr.substring(0,2);
        //alert(date);
        return dateisostr;
      }

      function monthcalc(inputdate, plusminus) {
        // accepts date in string format dd/mm/yyyy
        //plusminus is plus to add a month and minus to subtract a month
        month = parseInt(inputdate.substring(3,5));
        if (plusminus=="minus") {
          month=month-1;
          if (month==0) {
            month = 12;
          }          
        }
        else {
          month=month+1;
          if (month==13) {
            month = 1;
          }
        }
        if (month < 9) {
          monthstr = "0" + month.toString();
        }
        else {
          monthstr = month.toString();
        }
        outputdate=inputdate.substring(0,2) + "/" + monthstr + "/"+ inputdate.substring(6);
        return outputdate;
      }

      function yearcalc(inputdate, plusminus) {
        // accepts date in string format dd/mm/yyyy
        //plusminus is plus to add a month and minus to subtract a month
        year = parseInt(inputdate.substring(6));
        if (plusminus=="minus") {
          year=year-1;
        }
        else {
          year=year+1;
        }
        outputdate=inputdate.substring(0,2) + "/" + inputdate.substring(3,5) + "/" + year;
        return outputdate;
      }
      
      function newdate(period, plusminus) {
        date = new Date();
        var start = document.getElementById("start");
        var end = document.getElementById("end");  
        if (period=="day" || period=="week") {
          if (period=="day") {
             milliseconds = 60*60*24*1000; // one day in milliseconds
          }
          if (period=="week") {
             milliseconds = 7*60*60*24*1000; // one week in milliseconds
          }

          startdate = Date.parse(isoDate(start.value));
          enddate = Date.parse(isoDate(end.value));
          if (plusminus=="minus") {
            var newstartdate = new Date(startdate.valueOf() - milliseconds); 
            var newenddate = new Date(enddate.valueOf() - milliseconds);
          }
          else {
            var newstartdate = new Date(startdate.valueOf() + milliseconds); 
            var newenddate = new Date(enddate.valueOf() + milliseconds);
          }
          start.value=newstartdate.toLocaleDateString();
          end.value=newenddate.toLocaleDateString();
        }
        
        if (period=="month")  {
          start.value = monthcalc(start.value, plusminus);
          end.value = monthcalc(end.value, plusminus);
        }
        if (period=="year")  {
          start.value = yearcalc(start.value, plusminus);
          end.value = yearcalc(end.value, plusminus);
        }
 
      }

    </script>
    {% include 'navbar.html' %}
    
    <img class="noprint" mt-2  img-fluid max-width: 100%  height: auto" src="https://porlock-garage-admin.timbacct.repl.co/static/GarageBanner.png" alt="Central Garage Banner">
  
    <table class="table">
      <tr>
        <th>Search Criteria</th>
        <th>Invoice List</th>
      </tr>
      <tr>
        <td>
    
          <form action="/" method="get" id="filterform">
            <div class="row g-2 mb-2">
              <div class="col-sm" width="200px">
                <label id="customernamelabel" for="customername" class="col-form-label-sm">Customer Name</label>
              </div>
              <div class="col-sm">
                <input type="text" id="customername" class="form-control" name="customername" value={{data['customername']}}>
              </div>
            </div>
            <div class="row g-2 mb-2"">
              <div class="col-sm">
                <label for="registrationnumber" class="col-form-label-sm">Reg Number</label>
              </div>
              <div class="col-sm">
                <input type="text" id="registrationnumber" class="form-control" name="registrationnumber" value={{data['registrationnumber']}}>
              </div>
            </div>
            <div class="row g-2 mb-2"">
              <div class="col-sm">
                <label for="datein" class="col-form-label-sm">Date in</label>
              </div>
              <div class="col-sm">
                <input type="text" id="datein" class="form-control" name="datein" value={{data['datein']}}>
              </div>
            </div>
            <div class="row g-2 mb-2"">
              <div class="col-sm">
                <label for="makemodel" class="col-form-label-sm">Make/model</label>
              </div>
              <div class="col-sm">
                <input type="text" id="makemodel" class="form-control" name="makemodel" value={{data['makemodel']}}>
              </div>
            </div>
            <div class="row g-2 mb-2"">
              <div class="col-sm">
                <label for="phonenumber" class="col-form-label-sm">Phone number</label>
              </div>
              <div class="col-sm">
                <input type="text" id="phonenumber" class="form-control" name="phonenumber" value={{data['phonenumber']}}>
              </div>
            </div>

            <table class="table table-bordered">
              <tr>
                <td style="width:5%">
                  <input class="form-check-input" type="radio" id="all" name="period" value="all" {% if data['period']=="all":  %} checked="checked" {% endif %}>
                </td>
                <td>
                  <label class="form-check-label" for="all">All</label><br>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td style="width:10%">
                  <input class="form-check-input" type="radio" id="today" name="period" value="today"  {% if data['period']=="today" or data["period"]=="":  %} checked="checked"checked {% endif %}>
                </td>
                <td>
                  <label class="form-check-label" for="today">Today</label>           
                </td>
                <td align="center">
                  <input id="dayearlier" type="button" value="-"></input>
                </td>
                <td align="center">
                  <input id="daylater" type="button" value="+"></input><br>                      
                </td>
              </tr>
              <tr>
                <td style="width:10%">
                  <input class="form-check-input" type="radio" id="thisweek" name="period" value="thisweek" {% if data['period']=="thisweek":  %} checked="checked" {% endif %}>
                </td>
                <td>
                  <label class="form-check-label" for="thisweek">This Week</label>
                </td>
                <td align="center">
                  <input id="weekearlier" type="button" value="-"></input>
                </td>
                <td align="center">
                  <input id="weeklater" type="button" value="+"></input><br>
                </td>
              </tr>
              <tr>
                <td style="width:10%">
                  <input class="form-check-input" type="radio" id="thismonth" name="period" value="thismonth" {% if data['period']=="thismonth":  %} checked="checked" {% endif %}>
                </td>
                <td>
                  <label class="form-check-label" for="thismonth">This Month</label>
                </td>
                <td align="center">
                  <input id="monthearlier" type="button" value="-"></input>
                </td>
                <td align="center">
                  <input id="monthlater" type="button" value="+"></input><br>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="form-check-input" type="radio" id="thisyear" name="period" value="thisyear" {% if data['period']=="thisyear":  %} checked="checked" {% endif %}>
                </td>
                <td>
                  <label class="form-check-label" for="thisyear">This Year</label><br><br>
                </td>
                <td align="center">
                  <input id="yearearlier" type="button" value="-"></input>
                </td>
                <td align="center">
                  <input id="yearlater" type="button" value="+"></input><br>
                </td>
              </tr>
            </table>
            <table class="table table-bordered">
              <tr>
                <td style="text-align:center">
                  <label>Date type</label>
                </td>
                <td style="text-align:center">
                  <input type="button" id="datetype" name="datetype" value="{% if data['datetypevalue']=="" or data['datetypevalue']=="In":  %}In{% else %}Paid{% endif %}" class="btn btn-outline-dark" onclick="toggleDateType()">
                  <input type="hidden" id="datetypevalue" name="datetypevalue" value="{% if data['datetypevalue']=="":  %}In{% else %}Paid{% endif %}">
                </td>
              </tr>
              <tr>
                <td  style="text-align:center" class="justify-content-between">
                  <input class="form-check-input" type="checkbox" id="estimates" name="estimates" value="estimates">
                  <label class="form-check-label" for="estimates"> Estimates</label>
                </td>
                <td  style="text-align:center" class="justify-content-between">
                  <input class="form-check-input" type="checkbox" id="invoices" name="invoices" value="invoices">
                  <label class="form-check-label" for="invoices"> Invoices</label>
                </td>
              </tr>
              <tr>
                <td style="text-align:center">
                  <label for="start">Start</label><br>
                  <input type="text" id="start" class="form-control-sm me-2" name="start" value={{data['start']}}><br>
                </td>
                <td style="text-align:center">
                  <label for="end">End</label><br>
                  <input type="text" id="end" class="form-control-sm me-2" name="end" class="mb-2" value={{data['end']}}><br>
                </td>
              </tr>
              <tr>
                <td style="text-align: center">
                  <input type="submit" class="btn btn-outline-primary" value="Display Data">
                </td>
                <td style="text-align: center">
                  <button type="button" class="btn btn-outline-primary" onclick="clearFilters()">Clear Filters</button>
                </td>
              </tr>
            </table>
            <table style="margin:auto; width:300px; border:1px solid black";>
              <tr>
                <td  style="text-align:center" style="height:40px;">
                  <label>Date Last Updated:  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td width="40%"></td>
                      <td width="33%"  style="text-align:center">
                        <br>
                        <p class="table-danger border border-color:red" style="color:red">{{datelastupdated}}</p></td>
                      <td width="27%"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <input type="submit" value="Update now" class="btn btn-outline-danger btn-lg mt-2 mb-3">
                </td>
              </tr>
            </table>
            <br>
            
          </form>

        </td>
        <td>
          <table id="invoiceheadertable" class="table table-bordered table-hover table-striped">
            <tr>
              <th style="white-space:nowrap">Customer Name</th>
              <th style="white-space:nowrap">Invoice Number</th>
              <th style="white-space:nowrap">Phone Number</th>
              <th style="white-space:nowrap">Date In</th>
              <th style="white-space:nowrap">Date Paid</th>
              <th style="white-space:nowrap">Make/Model</th>
              <th style="white-space:nowrap">Reg No</th>
              <th style="white-space:nowrap">Mileage</th>
              <th style="white-space:nowrap">Summary Price</th>
              <th style="white-space:nowrap">Summary Total</th>
              <th style="white-space:nowrap">ID</th>
              <th style="white-space:nowrap">Path Name</th>
              <th style="white-space:nowrap">File Name</th>
            </tr>
              {% for invoice in invoiceheaders %}  
                {% include 'invoicelist.html' %}
              {% endfor%}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              {% for total in totals %}
              <td style="text-align:right" class="h5">
                {{total['TotalExVAT']}}
              </td>
              <td style="text-align:right" class="h5">
                {{total['TotalIncVAT']}}
              </td>
              {% endfor %}
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table class="table">

    </table>
    {% include 'footer.html' %}

  </body>
</html>