<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">

    <title>Central Garage System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/static/invoiceheader.css" rel="stylesheet" type="text/css" />

  </head>
  <body style="padding-left:20px">
    {% include 'header.html' %}
    <img class="noprint mb-2 mt-2  img-fluid max-width: 100%  height: auto" src="/static/GarageBanner.png" alt="Central Garage Banner">

    <table width="1389.3" cellspacing="0" cellpadding="0" class="t1">
      <tbody>
        <tr>
          <td valign="bottom" class="td1">
            <p class="p1"><span class="s1"><b>Name</b></span></p>
          </td>
          <td colspan="2" valign="bottom" class="td2">
            <p class="p1"><span class="s1"><b>Telephone number</b></span></p>
          </td>
          <td valign="bottom" class="td5">
            <p class="p2"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td5a">
            <p class="p2"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td4">
            <p class="p2"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td6">
            <p class="p1"><span class="s1"><b>Invoice No.</b></span></p>
          </td>
          <td valign="bottom" class="td7">
            <p class="p1"><span class="s1">{{data["InvoiceNumber"]}}</span></p>
          </td>
          <td valign="bottom" class="td8">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p4"><span class="s1"><i>{{data['CustomerName']}}</i></span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p1"><span class="s1">{{data["PhoneNumber"]}}</span></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p5"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p5"><span class="s1"><b></b></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p3"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p1"><span class="s1"><b> Paid date </b></span></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1">{{data["PaidDate"]}}</span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1"><b>Date in</b></span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p6"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p1"><span class="s1"><b> Payment type </b></span></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1">{{data["PaymentType"]}}</span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p6"><span class="s1"><b></b></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1">{{data["DateIn"]}}</span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p7"><span class="s1"><i></i></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p1"><span class="s1"><b> Cashier </b></span></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1">{{data["Cashier"]}}</span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"><b></b></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p7"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p6"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p6"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1"><b>Make/model</b></span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p1"><span class="s1"><b>Reg No.</b></span></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p1"><span class="s1"><b>Mileage</b></span></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td9">
            <p class="p1"><span class="s1">{{data["MakeModel"]}}</span></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p1"><span class="s1">{{data["RegistrationNumber"]}}</span></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p8" align="left"><span class="s1">{{data["Mileage"]}}</span></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td14">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td16">
            <p class="p4"><span class="s1"><i>{% if data[MakeModel2] != Null %} {{data["MakeModel2"]}} {% endif %}</i></span></p>
          </td>
          <td valign="bottom" class="td17">
            <p class="p4"><span class="s1"><i> </i></span></p>
          </td>
          <td valign="bottom" class="td181">
            <p class="p4"><span class="s1"><i> </i></span></p>
          </td>
          <td valign="bottom" class="td19a">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td20">
            <p class="p9"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td19a">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td21">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td22">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="2" valign="bottom" class="td15">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p6"><span class="s1"><b></b></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td23">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p6"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p6"><span class="s1"><b></b></span><br></p>
          </td>
          <td valign="bottom" class="td24">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td25">
            <p class="p1"><span class="s1"><b>Part Number</b></span></p>
          </td>
          <td valign="bottom" class="td26">
            <p class="p1"><span class="s1"><b>Part</b></span></p>
          </td>
          <td valign="bottom" class="td27">
            <p class="p9"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td28">
            <p class="p9"><span class="s1"><b> Total </b></span></p>
          </td>
          <td valign="bottom" class="td29">
            <p class="p1"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td30">
            <p class="p1"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td31">
            <p class="p9"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td32">
            <p class="p9"><span class="s1"><b> Price </b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        {% for i in range (0, 20) %}  

        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1">{{parts[i]['PartsCode']}}</span></p>
          </td>
          <td colspan="2" valign="bottom" class="td35">
            <p class="p1"><span class="s1">{{parts[i]['PartsDescription']}}</span></p>
          </td>
          <td valign="bottom" class="td22">
            <p class="p1" align="right"><span class="s1">{% if parts[i]['PartsPrice'] != "" and parts[i]['PartsPrice'] != "Price" %} {{"£%.2f"|format(parts[i]['PartsPrice']|float)}} {% endif %}<span class="Apple-converted-space"> </span></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td36">
            <p class="p1"><span class="s1">{{work[i]['WorkDescription']}}</span></p>
          </td>

          <td valign="bottom" class="td37">
            <p class="p1" align="right"><span class="s1">{% if work[i]['WorkPrice'] != "" and work[i]['WorkPrice'] != "Price" and work[i]['WorkDescription'] != " Price Price" %} {{ "£%.2f"|format(work[i]['WorkPrice']|float)}} {% endif %}</span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        {% endfor%}   
        
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td35">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td35">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td22">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td42">
            <p class="p8"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td43">
            <p class="p8"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td44">
            <p class="p1"><span class="s1"><b>MOT</b></span></p>
          </td>
          <td valign="bottom" class="td46">
            <p class="p1" align="right"><span class="s1">{{"£%.2f"|format(data['MOTValue']|float)}}<span class="Apple-converted-space"> </span></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td35">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td22">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td45">
            <p class="p8"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td19">
            <p class="p8"><span class="s1"><b>Total</b></span></p>
          </td>
          <td valign="bottom" class="td21">
            <p class="p1"><span class="s1"><b>Labour</b></span></p>
          </td>
          <td valign="bottom" class="td46">
            <p class="p1" align="right"><span class="s1">{{"£%.2f"|format(data['ListLabourTotal']|float)}}<span class="Apple-converted-space"> </span></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td22">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td36">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td47">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td48">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td49">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td50">
            <p class="p1"><span class="s1"><b>Price</b></span></p>
          </td>
          <td valign="bottom" class="td51">
            <p class="p1"><span class="s1"><b> VAT </b></span></p>
          </td>
          <td valign="bottom" class="td32">
            <p class="p1"><span class="s1"><b> Total </b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td48">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td52">
            <p class="p1"><span class="s1"><b>Labour</b></span></p>
          </td>
          <td valign="bottom" class="td53">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryLabour']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td54">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryLabourVAT']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td55">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryLabourTotal']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td48">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td52">
            <p class="p1"><span class="s1"><b>MOT</b></span></p>
          </td>
          <td valign="bottom" class="td53">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryMOT']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td54">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryMOTVAT']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td55">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryTotal']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td18">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td48">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td52">
            <p class="p1"><span class="s1"><b>Parts/accessories</b></span></p>
          </td>
          <td valign="bottom" class="td53">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryParts']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td54">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryPartsVAT']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td55">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryPartsTotal']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td34">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td39">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td8">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td56">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td53">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td54">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td55">
            <p class="p1"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td8">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td colspan="2" valign="bottom" class="td57">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td58">
            <p class="p1"><span class="s1"> </span></p>
          </td>
          <td valign="bottom" class="td59">
            <p class="p8"><span class="s1"><b> </b></span></p>
          </td>
          <td valign="bottom" class="td60">
            <p class="p1"><span class="s1"><b>Total Parts</b></span></p>
          </td>
          <td valign="bottom" class="td61">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryPartsTotal']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td62">
            <p class="p1"><span class="s1"><b>TOTAL AMOUNT DUE</b></span></p>
          </td>
          <td valign="bottom" class="td63">
            <p class="p1" align="right"><span class="s1"><b>{{"£{:,.2f}".format(data['SummaryPrice']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td64">
            <p class="p1" align="right"><span class="s1"><b>{{"£%.2f"|format(data['SummaryVAT']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td valign="bottom" class="td65">
            <p class="p1" align="right"><span class="s1"><b>{{"£{:,.2f}".format(data['SummaryTotal']|float)}}<span class="Apple-converted-space"> </span></b></span></p>
          </td>
          <td colspan="3" valign="bottom" class="td33">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
        <tr>
          <td valign="bottom" class="td23">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td10">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td11">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td12">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td13">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td valign="bottom" class="td3">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
          <td colspan="3" valign="bottom" class="td66">
            <p class="p3"><span class="s1"></span><br></p>
          </td>
        </tr>
      </tbody>
    </table>
    

    
    {% include 'footer.html' %}

  </body>
</html>