<ul>
      <li>{{invoice['customername']}}</li>
      <li>{{invoice['invoicenumber']}}</li>
      <li>{{invoice['phonenumber']}}</li>
      <li>{{invoice['datein']}}</li>
      <li>{{invoice['datepaid']}}</li>
      <li>{{invoice['makemodel']}}</li>
      <li>{{invoice['regno']}}</li>
      <li>{{invoice['mileage']}}</li>
      <li>{{invoice['summaryprice']}}</li>
      <li>{{invoice['summarytotal']}}</li>
      <li>{{invoice['id']}}</li>
      <li>{{invoice['pathname']}}</li>
      <li>{{invoice['filename']}}</li>
</ul>
