
              <tr>
                <td>{{invoice['CustomerName']}}</td>
                <td>{{invoice['InvoiceNumber']}}</td>
                <td>{{invoice['PhoneNumber']}}</td>
                <td>{{invoice['DateIn']}}</td>
                <td>{{invoice['DatePaid']}}</td>
                <td>{{invoice['MakeModel']}}</td>
                <td>{{invoice['RegistrationNumber']}}</td>
                <td>{{invoice['Mileage']}}</td>
                <td>£{{invoice['SummaryPrice']}}</td>
                <td>£{{invoice['SummaryTotal']}}</td>
                <td>{{invoice['ID']}}</td>
                <td>{{invoice['PathName']}}</td>
                <td>{{invoice['FileName']}}</td>
              </tr>
