
              <tr>
                <td><a href="/invoice/{{invoice['ID']}}">{{invoice['CustomerName']}}</a></td>
                <td>{{invoice['InvoiceNumber']}}</td>
                <td>{{invoice['PhoneNumber']}}</td>
                <td style="white-space:nowrap">{{invoice['DateIn']}}</td>
                <td style="white-space:nowrap">{{invoice['PaidDate']}}</td>
                <td style="white-space:nowrap">{{invoice['MakeModel']}}</td>
                <td>{{invoice['RegistrationNumber']}}</td>
                <td>{{invoice['Mileage']}}</td>
                <td>£{{invoice['SummaryPrice']}}</td>
                <td>£{{invoice['SummaryTotal']}}</td>
                <td>{{invoice['ID']}}</td>
                <td style="white-space:nowrap">{{invoice['PathName']}}</td>
                <td style="white-space:nowrap">{{invoice['FileName']}}</td>
              </tr>
